nav {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-text{
    font-size: 4.5em;
    color: white;
    margin-top: 50px;
    text-align: justify;
  
}
.main-content{
    width: 50%;
    margin-left: 5%;
}
.project-description{
    color: white;
    font-size: 2em;
    margin-top: 0;
    text-align: justify;
}
.signup-button{
    width: 240px;
    height: 70px;
    font-size: 3em;
    line-height: 70px;
    margin-top: 40px;
}
.signin-button{
    width: 120px;
    height: 35px;
    line-height: 35px;
    margin-right: 20px;
}
  
  
main{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
@media (max-width: 1200px)  {
    .main-text {
        font-size: 2em;
    }
}
@media (max-width: 900px)  {
    main {
        flex-direction: column-reverse;
        height: auto;
    }
    .bigger-logo {
        width: 80%;
    }
    .main-text {
        font-size: 2em;
        text-align: left;
    }
    .main-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
  