.main-content{
    width: 350px;
    height: 320px;
    background-color: #37393F;
    border-radius: 20px;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.auth-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.sign-text{
    color: #CCA43B;
}

.form-input {
    width: 90%;
    height: 37px;
    background-color: #202124;
    border: none;
    border-radius: 7px;
    margin-bottom: 20px;
    text-indent: 10px;
    color: white;

}

.sign-in-button {
    width: 110px;
    height: 32px;
}

.sign-up{
    height: 380px;
}

.ng-invalid button {
    background-color:#5c5c5c;
    cursor: default;

}
input.ng-invalid.ng-touched {
    border: #be4444 1px solid;
}
input.ng-valid.ng-touched {
    border: #00be66 1px solid;
}
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}