.add-button{
    position: fixed;
    bottom: 15px;
    right: 15px;
    direction: none;
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
}

app-notes-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
@media (max-width: 900px)  {
    .add-button {
      position: static;
      margin: auto;
    }
}